.container_slider {
    margin-left: 22%;
    width: 44%;
    height: 20%;
}
.image-container {
    width: 100%;
    /* padding-top: 56.25%; */
    background-size: contain;
    background-position: center;
    flex-shrink: 0;
}

.image-container img{
    width: 42.4vw;
}


.slider {
    box-sizing: border-box;
    overflow-x: hidden;
}

.slider-container {
    transform: translateX(0);
    animation: slider 25s infinite;
}

.slider {
    overflow-x: hidden;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.stripe-container,
.slider-container {
    display: flex;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-100%);
    }

    35% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-200%);
    }

    55% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-300%);
    }

    75% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-400%);
    }

    95% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(0);
    }
}